<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Height Collector</title>
    <link href="../static/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Collecting Heights</h1>
      <h3>Please fill the entries to get population statistics on heights.</h3>
      <div class="message">
        {{text | safe}}
      </div>
      <form action="{{url_for('success')}}", method="POST">
        <input title="Your e-mail will be safe with us." placeholder="Enter your e-mail address" type="email" name="email_name" required>
        <br>
        <input title="Your data will be safe with us." placeholder="Enter your height in cms" type="number" min="50" max="300" name="height_name" required>
        <br>
        <button type="submit"> Submit </button>

      </form>

    </div>
  </body>
</html>
