<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!(isAuth | async)">
        <mat-icon>person_add</mat-icon>
        <span class="nav-caption">Sign up</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!(isAuth | async)">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Log in</span>
    </a>
    <a mat-list-item routerLink="/training" (click)="onClose()" *ngIf="isAuth |async">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-caption">Training</span>
    </a>
    <a mat-list-item (click)="onLogout()" *ngIf="isAuth |async">
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">Log out</span>
    </a>
</mat-nav-list>