.Order {
    width: 60%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    background: rgba(143, 92, 44, 0.3);
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.Ingredient {
    text-transform: capitalize;
    display: inline-block;
    margin: 0 5px;
    padding: 2px 5px;
    background: #ffffff88;
    border: 1px solid #fff;
}