body {
  background-color: lightgray;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}

img {
  float: left;
  margin: 10px;
  width: 20vw;
}

@media (min-width: 600px){
  .container {
    max-width: 600px;
  }
  
  img {
    width: 15%;
    
  }
}