* {
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  font-family: sans-serif;
}

/* ====    HEADER    ==== */
.grad-header {
  width: 100vw;
  height: 80px;
  background-image: linear-gradient(#ffffff, #f5f5f5);
  position: absolute;
  z-index: 1;
}
.top-right-nav {
  position: absolute;
  z-index: 3;
  font-size: .75rem;
  color: gray;
  right: 0;
  padding: .5rem;
}
.top-right-nav img{
  margin: 0 4px;
}
.top-right-nav a{
  color: #0645ad;
  text-decoration: none;
  margin: 0 .1rem;
}
.top-right-nav a:hover {
  text-decoration: underline;
}

.left-btns {
  position: absolute;
  display: table;
}
.button {
  position: relative;
  display: table-cell;
  vertical-align: center;
  float: left;
  top: 51px;
  left: 170px;
  z-index: 4;
  font-size: .8rem;
  height: 30px;
  border-right: 1px solid;
  border-left: 1px solid;
  margin: 0;
  padding: 10px 5px;
  border-image: linear-gradient(to top, #a7d7f9, #f5f5f5) 1 100%;
}
.right-btns {
  position: absolute;
  right: 40vw;
}
.active {
  background-image: linear-gradient( #f5f5f5, #ffffff);
  border-bottom: 1px solid white;
}
.passive {
  background-image: linear-gradient(#f5f5f5, #e7f4fd);
  border-bottom: 1px solid #a7d7f9;
  color: #0645ad;
}
.passive:hover {
  text-decoration: underline;
}

.search-box {
  position: absolute;
  right: 10px;
  top: 53px;
  text-align: left;
  z-index: 3;  
}
.search {
  border: 1px solid #696d73;
  width: 20vw;
  height: 23px;
  padding: 3px;
  font-size: 0.9rem;
  color: #696d73;
  display: inline-block;
}
.search-icon {
  position: absolute;
  right: 15px;
  top: 58px;
  z-index: 4;
}



/* ====    SIDEBAR    ====*/
.sidebar {
  width: 170px;
  font-family: sans-serif;
  font-size: .75rem;
  color: #000;
  line-height: 1.125rem;
  padding: 1.5rem;
}
#logo {
  position: relative;
  top: -1rem;
  left: -.5rem;
  z-index: 2;
}
.linkgroup {
  margin-bottom: 1rem;
}
.sidebar p {
  border-bottom: 1px solid lightgray;
  margin-bottom: .4rem;
}
.sidebar a{
  color: #0645ad;
  text-decoration: none;
}
.sidebar a:hover {
  text-decoration: underline;
}
.editlinks {
  text-align: right;
}
.editlinks a{
  color: grey;
}
.editlinks a:hover{
  color: #0645ad;
  text-decoration: underline;
}



/* ====    MAIN CONTENT    ==== */
.main {
  background-color: #ffffff;
  border: 1px solid #a7d7f9;
  position: absolute;
  top: 80px;
  left: 170px;
  width: calc(100vw - 170px);
  padding: 1.5rem;
  font-size: .9rem;
  line-height: 1.3rem;
  margin-bottom: 100px;
}

h1 {
  font-family: 'Linux Libertine','Georgia','Times',serif;
  font-size: 1.875rem;
  font-style: italic; 
  margin-bottom: 0.5rem;
}
h2 {
  font-family: 'Linux Libertine','Georgia','Times',serif;
  font-size: 1.225rem;
}
hr {
  margin-top: 0;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}
h2 snap, h3 snap, h4 snap {
  padding-left: 1rem;
  font-size: 1rem;
  color: #a2a9b1;
  font-family: sans-serif;
  font-weight: 100
}
h2 a, h3 a, .contents-box a {
  text-decoration: none;
  font-size: .75rem;
}
h2 a:hover, h3 a:hover, .contents-box a:hover, .bigbox-box a:hover {
  text-decoration: underline;
}
h4 {
  font-weight: bold;
  margin-bottom: .3rem;
}
h5 {
  font-weight: bold;
  font-style: italic;
  font-size: .85rem;
}
p {
  margin-bottom: 1rem;
}
strong {
  font-weight: bold;
}

content a {
  text-decoration: none;
  color: #0645ad;
}
content a:hover {
  text-decoration: underline;
}
content .italink {
  font-style: italic;
}
content .suplink {
  vertical-align: super;
  font-size: smaller;
}

.bigbox-box {
  float: right;
  border: 1px solid #a2a9b1;
  padding: .5rem;
  display: inline-block;
  background-color: #f5f5f5;
  line-height: 1.5rem;
  text-align: center;
  font-size: .8rem;
  margin: 0 0 1rem 1rem;
}
.bigbox-box figcaption {
  font-size: .7rem;
  line-height: 0
}
.bigbox-box table {
  text-align: left;
  margin-top: 1rem;
}
.bigbox-box td {
  padding-right: 1rem;
}
.bigbox-box a {
  text-decoration: none;
  color: #0645ad;
}
.bold-link {
  text-decoration: none;
  color: #0645ad;
  font-weight: bold;
}
.bold-link:hover {
  text-decoration: underline;
}

.screen-box {
  float: left;
  width: 193px;
  border: 1px solid #a2a9b1;
  padding: 5px 5px;
  display: inline-block;
  background-color: #f5f5f5;
  line-height: 1rem;
  text-align: left;
  font-size: .78rem;
  margin: .25rem 1rem 1rem 0;
}
.screen-box p {
  margin-bottom: 0;
}

.contents-box {
  border: 1px solid #a2a9b1;
  padding: .5em .5em;
  display: inline-block;
  background-color: #f5f5f5;
  line-height: 1.5rem;
  text-align: center;
  font-size: .8rem;
  margin-bottom: 1rem;
}
.contents-box a {
  text-decoration: none;
  font-size: .8rem;
  color: #0645ad;
}
.contents-box ol {
  counter-reset: item;
  margin-left: 0;
  margin-bottom: 0;
  text-align: left;
  line-height: 1.4rem;
}
ol .nested {
  margin-left: 2rem;
}
.contents-box li {
  display: block;
}
.contents-box li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  padding: .3rem;
}
.contents-box snap{
  padding-left: .3rem;
}

ol {
  font-size: 0.8rem;
  list-style-type: decimal;
  margin-left: 2.5rem;
  line-height: 1.3rem;
  margin-bottom: 1.5rem;
}
.main ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.bottom-links {
  border: 1px solid #a2a9b1;
  padding: .3rem;
  display: inline-block;
  background-color: #f5f5f5;
  line-height: 1.4rem;
  width: 100%;
}
.bottom-links a {
  text-decoration: none;
  display: inline-block;
  color: #0645ad;
}
.bottom-links a:hover {
  text-decoration: underline;
}
.bottom-links ul {
  margin: 0;
  display: inline;
}
.bottom-links li {
  display: inline-block;
  list-style-type: none;
  border-right: 1px solid #a2a9b1;
  padding-right: .3rem;
  margin-left: .3rem;
  margin-bottom: 0rem;
}



/*
wiki link: https://en.wikipedia.org/wiki/Communist_Mutants_from_Space

wiki logo:
https://en.wikipedia.org/static/images/project-logos/enwiki.png

game screen:
https://upload.wikimedia.org/wikipedia/en/thumb/f/f2/Commiemutants.png/180px-Commiemutants.png

game cover:
https://upload.wikimedia.org/wikipedia/en/thumb/8/85/Communist_Mutants_from_Space_cover.jpg/220px-Communist_Mutants_from_Space_cover.jpg


szürke: #f5f5f5
fehér: #ffffff
link: #0645ad
kék border: #a7d7f9
szürke border és elválasztól: #a2a9b1
felső nav kék átmenethez: #e7f0f7

cím: 
font-family: 'Linux Libertine','Georgia','Times',serif;

szöveg:
font-family: sans-serif;

user ikon: 
https://en.wikipedia.org/w/skins/Vector/images/user-icon.png?13155

search ikon: 
https://en.wikipedia.org/w/skins/Vector/images/search-ltr.png?39f97

external link ikon:
https://en.wikipedia.org/w/skins/Vector/images/external-link-ltr-icon.png?325de

cogwheel ikon:
https://en.wikipedia.org/w/extensions/UniversalLanguageSelector/resources/images/cog-sprite.png?30312

*/